<div style="background: #111; color: gray; text-align: center; padding: 15px; margin-top: auto;">
            &copy; 2026 Gato Negro | Plataforma ERP V2.3.0
        </div>
    </div> 
</div> 
</body>
</html>